.navbar-lewagon {
  height: 80px;
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar__logo {
  border-radius: 50%;
    height: 50px;
    background-image: asset-url('zodiac-2.jpg');
    width: 50px;
    background-size: cover;
    background-position: center;
}
