.navbar-lewagon {
  height: 300px;
  justify-content: center;
  background: black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-bar__logo {
  border-radius: 50%;
    height: 200px;
    background-image: asset-url('zodiac-2.jpg');
    width: 200px;
    background-size: cover;
    background-position: center;
}

