// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.flex-center-vert {
  display:flex;
  flex-direction:column;
}

code {
  background: white;
  padding: 20px;
  margin: 10px;
  max-width: 300px;
  min-width: fit-content;
  color: rgba(6, 31, 121, 1.00)
}
